<div class="--space-theme">
  <div class="container body">
    <div class="text-center m-5">
      <%= image_tag(@user.avatar, class: "img-fluid rounded-circle avatar" ) if @user.avatar.attached? %>
      <h1><%= @user.name.nil? ? @user.username : @user.name %></h1>
      <p><%= @user.bio %></p>
    </div>
    <div class="row">
      <div class="text-center mb-5">
        <!-- @user.socials.where(enabled: true) -->
        <% @user.socials.where(active: true).each do |social| %>
          <i class="<%= social.icon %>"></i>
          <%= link_to social.name, social.url %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @links.each do |link| %>
        <%= render partial: "links/link", locals: { link: link } %>
      <% end %>
    </div>
  </div>
</div>
