<div id="<%= dom_id theme %>">
  <p>
    <strong>Name:</strong>
    <%= theme.name %>
  </p>

  <p>
    <strong>Theme type:</strong>
    <%= theme.theme_type %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= theme.premium %>
  </p>

  <p>
    <strong>Css value:</strong>
    <%= theme.css_value %>
  </p>

</div>
