<div class="container">
  <div class="text-center m-5">
    <h1 class="text-center"><%= current_user.username %></h1>
    <%= render partial: "links/share_button", locals: { url: profile_url(current_user) } %>
  </div>
  <div class="text-center m-3">
    <%= render partial: "links/form", locals: { link: Link.new } %>
  </div>
  <hr />
  <div class="row">
    <div class="col-8">
      <div id="links" 
        data-controller="sortable" 
        data-sortable-resource-name-value="link"
        data-sortable-handle-value=".link_handle">
        <% @links.each do |link| %>
          <%= render partial: "links/admin_link", locals: { link: link } %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
        <%= render partial: "admin/preview" %>
    </div>
  </div>
</div>
<%= render partial: "links/copy_toast" %>
