<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to "Linktree", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= active_link_to "Home", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "Appearance", admin_appearance_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "Analytics", admin_analytics_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "Settings", admin_settings_path, class:"nav-link" %>
        </li>
      </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.username_before_type_cast %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to "My Account", edit_user_registration_path, class: "dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
