<div class="row link" data-sortable-update-url="<%= link_position_path(link) %>">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-grip-vertical link_handle"></i><%= link.name %></h5>
        <div class="row">
          <div class="col-10">
            <%= render partial: "links/inline_form", locals: { link: link } %>
          </div>
          <div class="col-2">
            <div class="form-check form-switch">
              <%= render partial: "links/admin_active_toggle", locals: { link: link } %>
            </div>
          </div>
        </div>
        <div class="btn-group btn-group-sm mt-2" role="group" aria-label="...">
          <%= link_to "Visit Link", 
            url_for(link.url), 
            class:"btn btn-primary", 
            target: "_blank",
            rel: "noopener noreferrer" %>
          <%= button_to "Delete", link, class: "btn btn-danger borderless", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
